/*--ESTILOS HEADER Y FOOTER--*/
.header, .footer{
    height: 5em;
    width: 100%;
    background-color: #FFD514;
}

.footer{
    bottom: 0;
    display: flex;
    justify-content: center;
}
.mask{
    font-size: 4em;
    margin: 0.1em;
}

.logo{
    width: 3em;
    height: 3em;
    margin: 0.1em;
}

/*--ESTILOS DASHBOARD--*/
.titulo{
    text-align: center;
}

.container-buttons{
    display: flex;
    justify-content: space-around;
}

.containerCards div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
}

#cards{
    width: 15em;
    margin: 2em;
}

.containerCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#card{
    width: 15em;
    margin: 2em;
}